%h1 What's new?
.post
  %h4 More achievements
  %i 11.20.2012
  %ul
    %li
      %i{class: HulkSmash.badge}
      = "add '#{HulkSmash.title}' achievement"
    %li
      %i{class: HeartYou.badge}
      = "add '#{HeartYou.title}' achievement"
    %li
      %i{class: WorkingHard.badge}
      = "add '#{WorkingHard.title}' achievement"
    %li
      %i{class: LittleBen.badge}
      = "add '#{LittleBen.title}' achievement"
    %li
      %i{class: BigBen.badge}
      = "add '#{BigBen.title}' achievement"
    %li
      %i{class: Inactive.badge}
      = "add '#{Inactive.title}' achievement"
    %li
      %i{class: Lemons.badge}
      = "add '#{Lemons.title}' achievement"
    %li
      %i{class: Streak.badge}
      = "add '#{Streak.title}' achievement"
