- content_for :title, "Updates"
.post
  %h4 New Limited Time Achievement!
  %i 12.8.2012
  %ul
    %li
      %i{class: Summit.badge}
      = "add '#{Summit.title}' achievement: only available December 17 through December 21. Just play to win!"
%h1 Global stats!
.post
  %h4 Pie Charts
  %i 12.6.2012
  %ul
    %li Some simple charts of how players are doing overall
    %li= link_to 'Stats', stats_path

%h1 What's new?
.post
  %h4 Avatars
  %i 12.4.2012
  %ul
    %li You profile avatar makes it to the rankings page
    %li Increased size of layout (still mobile friendly at 1000px)
.post
  %h4 New Stuff
  %i 12.3.2012
  %ul
    %li Add player probability calculator
    %li Show date achievement was obtained on the player profile page when you hover over achievement
.post
  %h4 Achievements
  %i 11.30.2012
  %ul
    %li
      %i{class: PicturePerfect.badge}
      = "add '#{PicturePerfect.title}' achievement"
    %li
      = "Change requirements for #{WorkingHard.title} to more than 5 matches instead of 10"
    %li
      Added match history to player profile
.post
  %h4 Achievements
  %i 11.29.2012
  %ul
    %li
      %i{class: BraggingRights.badge}
      = "add '#{BraggingRights.title}' achievement"
.post
  %h4 Achievements
  %i 11.28.2012
  %ul
    %li
      %i{class: TwilightSaga.badge}
      = "add '#{TwilightSaga.title}' achievement"
    %li
      %i{class: MorningMadness.badge}
      = "add '#{MorningMadness.title}' achievement"
    %li
      %i{class: SameShtDifferentDay.badge}
      = "add '#{SameShtDifferentDay.title}' achievement"
    %li
      %i{class: OverlyAttached.badge}
      = "add '#{OverlyAttached.title}' achievement"
.post
  %h4 EvenMore achievements
  %i 11.21.2012
  %ul
    %li
      %i{class: Grind.badge}
      = "add '#{Grind.title}' achievement"
    %li
      %i{class: LongJump.badge}
      = "add '#{LongJump.title}' achievement"
    %li
      %i{class: WelcomeMat.badge}
      = "add '#{WelcomeMat.title}' achievement"
.post
  %h4 More achievements
  %i 11.20.2012
  %ul
    %li
      %i{class: HulkSmash.badge}
      = "add '#{HulkSmash.title}' achievement"
    %li
      %i{class: HeartYou.badge}
      = "add '#{HeartYou.title}' achievement"
    %li
      %i{class: WorkingHard.badge}
      = "add '#{WorkingHard.title}' achievement"
    %li
      %i{class: LittleBen.badge}
      = "add '#{LittleBen.title}' achievement"
    %li
      %i{class: BigBen.badge}
      = "add '#{BigBen.title}' achievement"
    %li
      %i{class: Inactive.badge}
      = "add '#{Inactive.title}' achievement"
    %li
      %i{class: Lemons.badge}
      = "add '#{Lemons.title}' achievement"
    %li
      %i{class: Streak.badge}
      = "add '#{Streak.title}' achievement"
    %li
      %i{class: NumberJuan.badge}
      = "add '#{NumberJuan.title}' achievement"
    %li
      %i{class: Beginner.badge}
      = "add '#{Beginner.title}' achievement"
