- content_for :title, @player.name
.player
  %h1= @player.display_name
  .avatar
    = player_avatar @player
    = link_to 'change photo', '#', onclick: "$('.change_photo').toggle()"
    .change_photo
      = form_for @player, :url => { :action => "update" }, :html => {:class => "avatar_form"} do |f|
        = f.file_field :avatar
        = f.submit "update"
    .clearfix
    %h5 Average games per day
    %p= number_to_human @average_games_per_day, significant: 2

  .player_stats
    .player_stat.wins
      %h1 wins
      %h1= @player.winning_matches.count
    .player_stat.losses
      %h1 losses
      %h1= @player.losing_matches.count
    .clearfix
    %hr
    .badges
      %h5 Achievements
      - @player.achievements.each do |achievement|
        = link_to '#', rel: 'popover', data: {title: "#{achievement.title} - #{achievement.created_at.strftime('%Y-%m-%d')}", content: achievement.description, trigger: 'hover'} do
          %i{class: achievement.badge}
      .clearfix
    %hr
    .odds
      %h5 What are your odds of beating this person?
      = select_tag :players, options_from_collection_for_select(Player.order(:name), "id", "display_name"), prompt: "Select a Player"
      %h3#calculator -
      .clearfix
  .totem_pole
    = image_tag 'totem_head.png'
    - @player.totems.each do |totem|
      %div{ class: "totem totem_#{cycle(0,1,2,3)}", title: totem.loser.display_name }
        .totem_avatar= link_to(player_avatar(totem.loser, :thumb), totem.loser)
    = link_to "", "", class: 'help', rel: 'popover', data: {title: "Build your totem pole!", content: "The winner of the last match you play with a specific user will result in the winner acquiring the other user's 'totem' to their pole. Beat lots of different people to grow your totem pole!", trigger: 'hover'}

  .clearfix
  %hr
  %h2 Rank History
  #rank_history.stat
  %hr
  %h2 Match History
  = will_paginate @matches
  %table
    %tr
      %th.date Date
      %th Winner
      %th Loser
      %th.action Action
    - @matches.each do |match|
      %tr{class: cycle("even", "odd")}
        %td.date= match.occured_at.strftime("%Y-%m-%d")
        %td= match.winner.display_name
        %td= match.loser.display_name
        %td.action= link_to "https://twitter.com/share", 'Brag', class: "twitter-share-button", data: {lang: "en", count: "none", text: "#{match.winner.display_name} just beat #{match.loser.display_name} in a vigorous game of SC Pong", url: match_url(match)}
  = will_paginate @matches

  .back= link_to "Back", root_url

- if @achievement
  .modal.fade
    .modal-header
      %button.close{data: {dismiss: "modal"}}
        &times;
      %h4
        Achievement unlocked!
    .modal-body
      %table.table
        %thead
          %tr
            %th= @player.display_name
        %tbody
          %tr
            %td
              .badge-wrap
                .badge-large
                  %i{class: @achievement.badge}
                .badge-wrap-right
                  %strong.badge-title= @achievement.title
                  .badge-description= @achievement.description
  :javascript
    $(function() {
      $(".modal").modal();
      setTimeout(function() {
        $(".modal").modal('hide');
      }, 8000);
    });

= javascript_include_tag 'popup'
= javascript_include_tag 'analytics'
:javascript
  $("#players").on('change', function(e){
    $.ajax({url: '/players/odds',
            data: {
              player_id: #{@player.id},
              opponent_id: $(e.target).val() },
            type: 'GET'
            }).done(function(data){
              $('#calculator').html(parseFloat(data).toFixed(2) + '%');
            });
  });
  $('document').ready(function(){
    graphMyShiz(#{@rank_history_x},#{@rank_history_y});
  });
