- content_for :title, @player.name
.player
  %h1= @player.display_name
  .avatar
    - if @player.avatar.blank?
      = image_tag 'placeholder.png'
    - else
      = image_tag @player.avatar
    = link_to 'change photo', '#', onclick: "$('.change_photo').toggle()"
    .change_photo
      = form_for @player, :url => { :action => "update" }, :html => {:class => "avatar_form"} do |f|
        = f.file_field :avatar
        = f.submit "update"

  .stats
    .stat.wins
      %h1 wins
      %h1= @player.winning_matches.count
    .stat.losses
      %h1 losses
      %h1= @player.losing_matches.count
    .clearfix
    %hr
    %h2 Achievements
    .badges
      - @player.achievements.each do |achievement|
        = link_to '#', rel: 'popover', data: {title: achievement.title, content: achievement.description, trigger: 'hover'} do
          %i{class: achievement.badge}
      .clearfix
  .clearfix

  %hr
  %h2 Most recent match
  %table
    %tr
      %th.date Date
      %th Winner
      %th Loser
      %th.action Action
    %tr{class: cycle("even", "odd")}
      %td.date= @match.occured_at.strftime("%Y-%m-%d")
      %td= @match.winner.display_name
      %td= @match.loser.display_name
      %td.action= link_to "https://twitter.com/share", 'Brag', class: "twitter-share-button", data: {lang: "en", count: "none", text: "#{@match.winner.display_name} just beat #{@match.loser.display_name} in a vigorous game of SC Pong", url: match_url(@match)}

  .back= link_to "Back", root_url

- if @achievement
  .modal.fade
    .modal-header
      %button.close{data: {dismiss: "modal"}}
        &times;
      %h4
        Achievement unlocked!
    .modal-body
      %table.table
        %thead
          %tr
            %th= @player.display_name
        %tbody
          %tr
            %td
              .badge-wrap
                .badge-large
                  %i{class: @achievement.badge}
                .badge-wrap-right
                  %strong.badge-title= @achievement.title
                  .badge-description= @achievement.description

  :javascript
    $(function() {
      $(".modal").modal();
      setTimeout(function() {
        $(".modal").modal('hide');
      }, 8000);
    });
