- content_for :title, @player.name
.player
  %h1= @player.name
  .avatar= image_tag 'placeholder.png'
  .stats
    .stat.wins
      %h1 wins
      %h1= @player.winning_matches.count
    .stat.losses
      %h1 losses
      %h1= @player.losing_matches.count
    .clearfix
    %hr
    .badges
      %h2 Achievements
      - @player.achievements.each do |achievement|
        %i{class: achievement.badge, title: "#{achievement.title} - #{achievement.description}"}
      .clearfix
  .clearfix

  %hr
  %h2 Most recent match
  %table
    %tr
      %th.date Date
      %th Winner
      %th Loser
      %th.action Action
    %tr{class: cycle("even", "odd")}
      %td.date= @match.occured_at.strftime("%Y-%m-%d")
      %td= @match.winner.display_name
      %td= @match.loser.display_name
      %td.action= link_to "https://twitter.com/share", 'Brag', class: "twitter-share-button", data: {lang: "en", count: "none", text: "#{@match.winner.display_name} just beat #{@match.loser.display_name} in a vigorous game of SC Pong", url: match_url(@match)}

  .back= link_to "Back", root_url