- content_for :title, "Matches"

= form_for(@match) do |f|
  = label_tag :winner_name
  = text_field_tag :winner_name, "", autocomplete: "off"
  = label_tag :loser_name
  = text_field_tag :loser_name, "", autocomplete: "off"
  = f.label :occured_at
  = f.text_field :occured_at, value: Time.now.strftime("%Y-%m-%d %H:%M:%S")
  = submit_tag "Add match"

%h2 Match history

%table
  %tr
    %th.date Date
    %th Winner
    %th Loser
    %th.action
  - @matches.each do |m|
    %tr{class: cycle("even", "odd")}
      %td.date= m.occured_at.strftime("%Y-%m-%d")
      %td= m.winner.display_name
      %td= m.loser.display_name
      %td.action
        = link_to '#', 'https://twitter.com/intent/tweet', class: "twitter-share-button", data: {lang: "en", count: "none", text: "#{m.winner.display_name} just beat #{m.loser.display_name} in a vigorous game of SC Pong", url: match_url(m)}
- if @most_recent_match && @most_recent_match.achievements.present?
  .modal.fade
    .modal-header
      %button.close{data: {dismiss: "modal"}}
        &times;
      %h4
        Achievement unlocked!
    .modal-body
      %table.table
        %thead
          %tr
            %th= @most_recent_match.winner.display_name
            %th= @most_recent_match.loser.display_name
        %tbody
          %tr
            %td
              - @most_recent_match.achievements.from_player(@most_recent_match.winner).each do |achievement|
                .badge-wrap
                  .badge-large
                    %i{class: achievement.badge}
                  .badge-wrap-right
                    %strong.badge-title= achievement.title
                    .badge-description= achievement.description
            %td
              - @most_recent_match.achievements.from_player(@most_recent_match.loser).each do |achievement|
                .badge-wrap
                  .badge-large
                    %i{class: achievement.badge}
                  .badge-wrap-right
                    %strong.badge-title= achievement.title
                    .badge-description= achievement.description

  :javascript
    $(function() {
      $(".modal").modal();
      setTimeout(function() {
        $(".modal").modal('hide');
      }, 8000);
    });
