- content_for :title, "#{@winner.name} beats #{@loser.name}!"
.match
  %h1 "#{@winner.name} beats #{@loser.name}!"
  %p= "In a vicious match between good and evil, #{@winner.name} has emerged victorious in a recent game against #{@loser.name} on #{@match.occured_at.strftime("%Y-%m-%d")}"
