- content_for :title, "Stats"
#games_played.stat
  %h4 Who's playing?
#winning_matches.stat
  %h4 Who's winning?
#winning_percentage.stat
  %h4 Who wins most of the time?

= javascript_include_tag 'pie'
:javascript
  $('document').ready(function () {
    Raphael("games_played", 450, 450).pieChart(200, 200, 100, #{@matches_values}, #{@matches_labels}, "#ccc");
    Raphael("winning_matches", 450, 450).pieChart(200, 200, 100, #{@winning_matches}, #{@winning_matches_labels}, "#ccc");
    Raphael("winning_percentage", 450, 450).pieChart(200, 200, 100, #{@winning_percentage}, #{@winning_percentage_labels}, "#ccc");
  });
