!!! 5
%html
  %head
    %title SocialChorus #{location} — #{yield :title}
    = stylesheet_link_tag    "application"
    = stylesheet_link_tag    "admin"
    = javascript_include_tag "application"
    = javascript_include_tag "http://use.typekit.com/rol0dzy.js"
    = javascript_tag "try{Typekit.load();}catch(e){}"
    = favicon_link_tag
    = csrf_meta_tag

  %body.admin
    %header
      .logo-area
        = link_to image_tag("logo.png"), root_url
        = link_to image_tag("Panda-Aggressor.jpg"), root_url
    #page
      %nav
        = link_to_with_current "Posts", admin_posts_path
        = link_to_with_current "Players", admin_players_path
        = link_to_with_current "Matches", admin_matches_path

      = render 'shared/flash_messages'
      = yield

      %footer
        = link_to "source code", "https://github.com/driedyam/pivot-pong"
